.demo{
    color:red;
}


.box{
    
    width:100%;
    height:200px;
    margin: 0px;
    border: black 1px solid;
    position:relative;
    left: -1px;
    
  
}

#b1,#b2,#b3{
    background-color: tomato;
    
    width:90px;
    height:90px;
    border-radius: 50px;
}
.btn{
 background-color: silver;   
width:100%;
height:100%;
display:flex;
justify-content: space-around;
position:relative;

}


.title{
    text-align: center;
    width: 100%;
    margin-bottom: 10px;
}



.bttn{
    margin-top:10%;

    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.head{
    display:flex;
    width:100%;
    flex-direction: row;
    justify-content: space-evenly;
}
.eye{
    width:90px;
    
    
}
#textboxt{
    text-align: center;
    width:600px;
}


#b1{
    background-image: url(rock.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
#b2{
    background-image: url(paper.jpg);
    background-size: contain;
    
    
}
#b3{
    background-image: url(scissors.jpg);
    background-size: 100px;
    
}
#playbuttonbox{
    height:100px;
    width:600px;
    display:flex;
    justify-content: space-evenly;
    padding: 10px;
}
#playbutton,#resetbutton{
    width:50px;
    height:50px;
    background-color:lightcoral;

}



#GARRET{
    display:flex;
    flex-align: space-around;
    width:620px;
    justify-content: center;
    height: 24px;
    

}

#playerOption,#enemyOption{
    width:100px;
    border: 1px solid black;
    text-align:center;
    

}
.Wrapper{
    display: flex;
    
    
    width: 100vw;
    height: 100vh;
    background-color: blanchedalmond;
    justify-content: center;
    
    
}
.body{
    border: solid black 1px;
    height: 600px;
    margin-top: 50px;
    padding: 0px;

    
    
}
body{
    margin: 0;
    display:flex;
    justify-content: space-around;
    
}