.demo{
    color:red;
}


.box{
    border: 10px solid black;
    width:600px;
    height:230px;
    
  
}

#b1,#b2,#b3{
    background-color: tomato;
    
    width:90px;
    height:90px;
    border-radius: 50px;
}
.btn{
 background-color: silver;   
width:100%;
height:100%;
display:flex;
justify-content: space-around;

}

.bttn{
    margin-top:10%;

    display:flex;
    flex-direction: column;
    align-items:center;
    
}

.head{
    display:flex;
    width:600px;
    flex-direction: row;
    justify-content: space-evenly;
}
.eye{
    width:40px;
}
#textboxt{
    text-align: center;
    width:600px;
}


#b1{
    background-image: url(rock.jpg);
    background-size: 100px 100px;
    background-repeat: no-repeat;
}
#b2{
    background-image: url(paper.jpg);
    background-size: contain;
    
    
}
#b3{
    background-image: url(scissors.jpg);
    background-size: 100px;
    
}
#playbuttonbox{
    height:100px;
    width:600px;
    display:flex;
    justify-content: center;
    padding: 10px;
}
#playbutton{
    width:50px;
    height:50px;
    background-color:lightcoral;

}



#GARRET{
    display:flex;
    flex-align: space-around;
    width:600px;
    justify-content: center;
    height: 24px;
    

}

#playerOption,#enemyOption{
    width:100px;
    border: 1px solid black;
    text-align:center;
    

}